.icon1{
    position: absolute;
    width: 119px;
    height: 88px;
    left: 415px;
    top: 145px;
    font-size: 70px;
    color: #ffffff;
}
.icon2{
        position: absolute;
    width: 119px;
    height: 88px;
    left: 145px;
    top: 144px;
    font-size: 70px;
    color: #ffffff;
}
.icon3{
    position: absolute;
    width: 119px;
    height: 88px;
    left: 10px;
    top: 144px;
    font-size: 70px;
    color: #ffffff;
}
.icon4{
    position: absolute;
    width: 119px;
    height: 88px;
    left: 10px;
    top: 265px;
    font-size: 70px;
    color: #ffffff;
}
.icon5{
    position: absolute;
    left: 10px;
    right: 91.18%;
    top: 370px;
    bottom: 81.04%;
    font-size: 70px;
    color: #ffffff;
}
.icon6{
    position: absolute;
    width: 119px;
    height: 88px;
    left: 10px;
    top: 480px;
    font-size: 70px;
    color: #ffffff;
}
.icon7{
    position: absolute;
    width: 119px;
    height: 88px;
    left: 10px;
    top: 630px;
    font-size: 70px;
    color: #ffffff;
}
.icon8{
    position: absolute;
    left: 10px;
    width: 119px;
    height: 88px;
    right: 91.18%;
    top: 750px;
    bottom: 66.48%;
    font-size: 75px;
    color: #ffffff;
}
.icon9{
    position: absolute;
    left: 1%;
    right: 91.18%;
    top: 900px;
    bottom: 60.84%;
    font-size: 70px;
    color: #ffffff;
}
.icon10{
    position: absolute;
    left: 9.65%;
    right: 82.08%;
    top: 900px;
    bottom: 60.84%;
    font-size: 70px;
    color: #ffffff;
}
.icon11{
    position: absolute;
    left: 19.38%;
    right: 72.36%;
    top: 900px;
    bottom: 60.84%;
    font-size: 70px;
    color: #ffffff;
}
.icon12{
    position: absolute;
    left: 29.1%;
    right: 62.64%;
    top: 900px;
    bottom: 60.84%;
    font-size: 70px;
    color: #ffffff;
}
.icon13{
    position: absolute;
    left: 39.58%;
    right: 52.15%;
    top:900px;
    bottom: 60.84%;
    font-size: 70px;
    color: #ffffff;
}
.icon14{
    position: absolute;
    left: 48.68%;
    right: 43.06%;
    top: 900px;
    bottom: 60.84%;
    font-size: 70px;
    color: #ffffff;
}
.icon15{
    position: absolute;
    left: 58.4%;
    right: 33.33%;
    top: 900px;
    bottom: 60.84%;
        font-size: 70px;
        color: #ffffff;
}
.icon16{
    position: absolute;
    left: 68.12%;
    right: 23.61%;
    top: 900px;
    bottom: 60.84%;
    font-size: 70px;
    color: #ffffff;
}
.icon17{
    position: absolute;
    left: 78.61%;
    right: 13.12%;
    top: 900px;
    bottom: 60.84%;
    font-size: 70px;
    color: #ffffff;
}
.icon18{
    position: absolute;
    left: 89.1%;
    right: 2.64%;
    top: 900px;
    bottom: 60.56%;
    font-size: 70px;
    color: #ffffff;
}
.icon19{
    position: absolute;
left: 91.04%;
right: 0.69%;
top: 800px;
bottom: 65.56%;
    font-size: 70px;
    color: #ffffff;
}
.icon20{
    position: absolute;
width: 119px;
height: 88px;
left: 1321px;
top: 670px;
    font-size: 70px;
    color: #ffffff;
}
.icon21{
    position: absolute;
width: 119px;
height: 88px;
left: 1321px;
top: 580px;
    font-size: 70px;
    color: #ffffff;
}
.icon22{
    position: absolute;
left: 92.04%;
right: 0.69%;
top: 470px;
bottom: 80.04%;
    font-size: 70px;
    color: #ffffff;
}
.icon23{
    position: absolute;
left: 91.04%;
right: 0.69%;
top: 350px;
bottom: 85.88%;
        font-size: 70px;
        color: #ffffff;
}
.icon24{
    position: absolute;
left: 91.04%;
right: 0.69%;
top: 5.56%;
bottom: 90.92%;
    font-size: 70px;
    color: #ffffff;
}
.icon25{
    position: absolute;
width: 119px;
height: 88px;
left: 1161px;
top: 139px;
    font-size: 70px;
    color: #ffffff;
}
.icon26{
    position: absolute;
width: 119px;
height: 88px;
left: 1001px;
top: 139px;
    font-size: 70px;
    color: #ffffff;
}
.icon27{
    position: absolute;
width: 119px;
height: 88px;
left: 870px;
top: 139px;
    font-size: 70px;
    color: #ffffff;
}
.icon28{
    position: absolute;
left: 50.69%;
right: 41.04%;
top: 139px;
bottom: 90.92%;
    font-size: 70px;
    color: #ffffff;
}
.icon29{
    position: absolute;
width: 119px;
height: 88px;
left: 570px;
top: 139px;
    font-size: 70px;
    color: #ffffff;
}
.icon30{
    position: absolute;
width: 119px;
height: 88px;
left: 279px;
top: 139px;
    font-size: 70px;
    color: #ffffff;
}
